<!--
 * @Author: czx
 * @Date: 2022-03-26 09:31:50
 * @LastEditors: czx
 * @LastEditTime: 2022-03-26 09:42:30
 * @description: 
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div id="app">

  </div>
  <template id="myapp">
    <h1>{{message}}</h1>
    <!-- 要想能够有值在响应数据中 需要加上value -->
    <label for="篮球">
      篮球 <input type="checkbox" v-model="hobbies" value="basketball">
    </label>
    <label for="足球">
      足球 <input type="checkbox" v-model="hobbies" value="football">
    </label>
    <label for="排球">
      排球 <input type="checkbox" v-model="hobbies" value="volleyball">
    </label>
    <div>hobbies:{{hobbies}}</div>
  </template>
  <script src="https://unpkg.com/vue@next"></script>
  <script>
    Vue.createApp({
      template: "#myapp",
      data: function () {
        return {
          message: "Hello World",
          hobbies: [],
        }
      }
    }).mount("#app");
  </script>

</body>